<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>WebChat</title>
</head>
<body>
    <p>Welcome to this WebChat</p>
    <br>
    <div>
        <p>Please, login to access a chat</p>
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" id="name" placeholder="your user name" />
            <input type="password" name="password" id="password" placeholder="your password" />
            <input type="submit" name="login" id="login" value="Log in" />
        </form>
    </div>
</body>
</html>
